<div class="navigationLabel" id="startPage"></div>
<div class="title">HOME PAGE</div>

<h2>This content was created with "Flex":</h2>
<!---------------------Flex--------------------------->
<div class="homeContainer">
  <div class="items">
    <div class="item">
      <img src="assets/img/other/coffe4.jpg" class="coffe2" />
    </div>
    <div class="item">
      <img src="assets/img/other/coffe5.jpg" class="coffe2" />
    </div>
    <div class="item">
      <img src="assets/img/other/coffe6.jpg" class="coffe2" />
    </div>
    <div class="item">
      <img src="assets/img/other/coffe7.jpg" class="coffe2" />
    </div>
  </div>

  <div class="items">
    <div class="item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
      similique obcaecati delectus cupiditate beatae ipsam nihil aspernatur?
      Aliquam odit quibusdam nostrum ad molestiae quasi nulla ullam quas.
      Tempore cum aspernatur numquam autem magnam maiores nemo enim unde, cumque
      omnis officia ex facere nam porro doloribus repellat corporis praesentium
      id esse debitis culpa nesciunt sed adipisci! Porro qui laboriosam suscipit
      enim molestiae sit neque at eligendi, cum, alias minima aliquid quae.
    </div>
    <div class="item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, vero
      et nemo saepe minima ad ut qui necessitatibus labore iusto soluta,
      doloremque maxime voluptatibus quisquam, ipsam animi rerum beatae. Ab
      asperiores, labore unde hic eum dolorum? Rem porro dolorem numquam harum?
      Sint error molestiae cupiditate molestias aut fugit recusandae nobis?
    </div>
  </div>
</div>
<!---------------------Grid---------------------------->
<div class="gridMain">
  <div class="gridHeader">This content was created with "Grid":</div>

  <div class="gridNav">
    <h3>Navigation on this page:</h3>
    <p><a href="#Article_1">article 1</a></p>
    <p><a href="#Article_2">article 2</a></p>
    <p><a href="#Article_3">article 3</a></p>
  </div>

  <div class="gridArticle">
    <div class="navigationLabel" id="Article_1"></div>
    <h3>Article 1</h3>
    <div class="startPage"><a href="#startPage">top to the page</a></div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, illo?</p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ab
      molestias unde quos modi eligendi quisquam, cupiditate provident error
      eaque tempora impedit porro corrupti labore inventore veniam fuga quasi
      quae aspernatur molestiae? Nisi consequatur fugiat quos reprehenderit,
      velit doloribus nemo eum, mollitia dolorem distinctio unde cupiditate
      excepturi magnam minus eaque.
    </p>

    <div class="indoor">
      <p class="indoorChild">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
        alias?
      </p>

      <div class="indoorChild">
        <img src="assets/img/other/coffe1.jpg" class="coffe1" />
      </div>
      <p class="indoorChild">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
        alias?
      </p>
    </div>

    <div class="navigationLabel" id="Article_2"></div>
    <h3 id="Article_2">Article 2</h3>
    <div class="startPage"><a href="#startPage">top to the page</a></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quod
      unde cupiditate minima minus sed? Vel pariatur temporibus vitae quisquam
      ratione voluptates magni et enim alias earum? Sint sapiente alias
      perferendis nobis. Nostrum in nobis accusantium ab eveniet molestias
      consequuntur vero? Voluptate vitae totam optio adipisci velit voluptatem,
      odit praesentium laudantium sequi dicta accusamus eligendi delectus saepe
      libero et dolorum atque corrupti vel! Consequatur, laborum. Obcaecati
      quaerat sunt accusantium iusto.
    </p>

    <div class="indoor">
      <p class="indoorChild">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
        alias?
      </p>

      <div class="indoorChild">
        <img src="assets/img/other/coffe2.jpg" class="coffe1" />
      </div>
      <p class="indoorChild">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
        alias?
      </p>
    </div>

    <div class="navigationLabel" id="Article_3"></div>
    <h3 id="Article_3">Article 3</h3>
    <div class="startPage"><a href="#startPage">top to the page</a></div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nihil dicta
      minima eius quas quos. Consequuntur voluptas, temporibus optio illo
      laudantium, assumenda ea, cupiditate nemo modi similique quasi sequi
      incidunt dolore quisquam alias odio qui! Voluptates vitae ipsum dicta?
      Voluptas quisquam architecto rem? Perspiciatis molestiae quos
      necessitatibus incidunt neque eius nesciunt quibusdam, autem, accusantium
      soluta aspernatur ipsam aliquid consectetur eum, praesentium sint dicta ut
      hic. Ab sit vitae repellat quae.
    </p>
    <div class="indoor">
      <p class="indoorChild">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
        alias?
      </p>

      <div class="indoorChild">
        <img src="assets/img/other/coffe3.jpg" class="coffe1" />
      </div>
      <p class="indoorChild">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
        alias?
      </p>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
      exercitationem, eaque a qui voluptates in quas. Id, cum beatae temporibus
      impedit eveniet quasi, neque quidem iusto officia officiis quisquam
      doloribus.
    </p>
    <div class="startPage"><a href="#startPage">top to the page</a></div>
  </div>

  <div class="gridAds">Ads</div>
</div>

<footer>
  <img width="120" src="assets/img/other/footer.png" />
</footer>
