<div class="home">
  <div class="title">
    <div>&#9818; &#9818; &#9818;</div>
    <br />
    <div>HOME PAGE</div>
  </div>

  <div class="sidebar">
    <h4>Navigation on this page:</h4>
    <p><a href="#top-page">To the top of the page</a></p>
    <p><a href="#Article_1">article 1</a></p>
    <p><a href="#Article_2">article 2</a></p>
    <p><a href="#Article_3">article 3</a></p>
  </div>

  <div class="place">
    <h3 id="Article_1">&#167;</h3>
    <h3>Article 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, illo?</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste
      incidunt quaerat fuga? Necessitatibus aperiam nam, quasi voluptatem
      molestiae reiciendis minima ullam rerum totam repellat, expedita fugit
      velit obcaecati nemo! Hic ducimus esse consequuntur aspernatur quasi
      repellendus libero ex. Quidem, laborum beatae deserunt dolores
      perspiciatis eveniet illum magni iste, earum similique molestias dolorem
      labore nemo minima aspernatur accusantium, nesciunt maxime. Eligendi in
      molestiae, odit nulla quam animi voluptatum corporis a distinctio maiores,
      quidem rerum fugit cumque aliquam? Quaerat sapiente nihil, nobis aliquid
      maxime minus iusto error quis voluptatum fugiat accusantium? Officiis nisi
      facere nemo enim rerum sed nobis officia quasi incidunt repellendus
      debitis doloremque, a adipisci soluta maxime magnam odio doloribus
      consequatur provident vel perferendis tempora deleniti. Voluptatem,
      similique cum. Eveniet reprehenderit minus ullam sapiente vero, ad beatae
      tenetur molestiae ipsam minima aliquid quam suscipit laborum ratione!
      Veritatis eaque labore voluptatibus doloremque blanditiis consectetur
      dolor iure! Praesentium similique maxime cumque!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ab
      molestias unde quos modi eligendi quisquam, cupiditate provident error
      eaque tempora impedit porro corrupti labore inventore veniam fuga quasi
      quae aspernatur molestiae? Nisi consequatur fugiat quos reprehenderit,
      velit doloribus nemo eum, mollitia dolorem distinctio unde cupiditate
      excepturi magnam minus eaque.
    </p>

    <h3 id="Article_2">&#167;</h3>
    <h3>Article 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, illo?</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste
      incidunt quaerat fuga? Necessitatibus aperiam nam, quasi voluptatem
      molestiae reiciendis minima ullam rerum totam repellat, expedita fugit
      velit obcaecati nemo! Hic ducimus esse consequuntur aspernatur quasi
      repellendus libero ex. Quidem, laborum beatae deserunt dolores
      perspiciatis eveniet illum magni iste, earum similique molestias dolorem
      labore nemo minima aspernatur accusantium, nesciunt maxime. Eligendi in
      molestiae, odit nulla quam animi voluptatum corporis a distinctio maiores,
      quidem rerum fugit cumque aliquam? Quaerat sapiente nihil, nobis aliquid
      maxime minus iusto error quis voluptatum fugiat accusantium? Officiis nisi
      facere nemo enim rerum sed nobis officia quasi incidunt repellendus
      debitis doloremque, a adipisci soluta maxime magnam odio doloribus
      consequatur provident vel perferendis tempora deleniti. Voluptatem,
      similique cum. Eveniet reprehenderit minus ullam sapiente vero, ad beatae
      tenetur molestiae ipsam minima aliquid quam suscipit laborum ratione!
      Veritatis eaque labore voluptatibus doloremque blanditiis consectetur
      dolor iure! Praesentium similique maxime cumque!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ab
      molestias unde quos modi eligendi quisquam, cupiditate provident error
      eaque tempora impedit porro corrupti labore inventore veniam fuga quasi
      quae aspernatur molestiae? Nisi consequatur fugiat quos reprehenderit,
      velit doloribus nemo eum, mollitia dolorem distinctio unde cupiditate
      excepturi magnam minus eaque.
    </p>

    <h3 id="Article_3">&#167;</h3>
    <h3>Article 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, illo?</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste
      incidunt quaerat fuga? Necessitatibus aperiam nam, quasi voluptatem
      molestiae reiciendis minima ullam rerum totam repellat, expedita fugit
      velit obcaecati nemo! Hic ducimus esse consequuntur aspernatur quasi
      repellendus libero ex. Quidem, laborum beatae deserunt dolores
      perspiciatis eveniet illum magni iste, earum similique molestias dolorem
      labore nemo minima aspernatur accusantium, nesciunt maxime. Eligendi in
      molestiae, odit nulla quam animi voluptatum corporis a distinctio maiores,
      quidem rerum fugit cumque aliquam? Quaerat sapiente nihil, nobis aliquid
      maxime minus iusto error quis voluptatum fugiat accusantium? Officiis nisi
      facere nemo enim rerum sed nobis officia quasi incidunt repellendus
      debitis doloremque, a adipisci soluta maxime magnam odio doloribus
      consequatur provident vel perferendis tempora deleniti. Voluptatem,
      similique cum. Eveniet reprehenderit minus ullam sapiente vero, ad beatae
      tenetur molestiae ipsam minima aliquid quam suscipit laborum ratione!
      Veritatis eaque labore voluptatibus doloremque blanditiis consectetur
      dolor iure! Praesentium similique maxime cumque!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ab
      molestias unde quos modi eligendi quisquam, cupiditate provident error
      eaque tempora impedit porro corrupti labore inventore veniam fuga quasi
      quae aspernatur molestiae? Nisi consequatur fugiat quos reprehenderit,
      velit doloribus nemo eum, mollitia dolorem distinctio unde cupiditate
      excepturi magnam minus eaque.
    </p>
  </div>

  <div class="ads">
    <p>Здесь</p>
    <p>будет</p>
    <p>какой-то</p>
    <p>контент...</p>
  </div>
</div>

<footer>
  <img width="120" src="assets/img/other/footer.png" />
</footer>
