<div class="home">
  <h2>HOME(дизайн будет меняться)</h2>
  <h3>Работа над ошибками:</h3>
  <p>
    &#9745; 1. Огромная просьба делать все телодвижения через пул реквесты Мне
    теперь немного неудобно ревьюить, и замечания прийдется писать тут
  </p>
  <p>&#9745; 2. Зачем вам нужен spec файл?</p>
  <p>
    &#9745; 3. Плохая практика держать Routes в файле модуля, может занимать
    много места, рекомендую вынести в отдельный файл.
  </p>
  <p>
    &#9745; 4, Как вариант не использовать NotFoundComponent, лучше сделать
    редирект на хоум пейдж при неправильном урле
  </p>
  <p>&#9745; 5. providers: [], зачем?</p>
  <p>
    &#9745; 6. AppRoutingModule зачем нужен? Или вынесите роутер туда, или
    вообще выпилите его, а это можно сделать и в главном модуле
    RouterModule.forRoot(routes)
  </p>
  <p>
    &#9745; 7. position: fixed; очень плохая практика по крайней мере для
    выполнения той задачи которую он у Вас выполняет. Данный стиль используется
    для того чтобы закрепить елемент на экране в процессе скрола, например хедер
    прилепить к верху экрана.
  </p>
  <p>&#9745; 8. title-block => header</p>
  <p>&#9745; 9. не нужно называть их блоками, просто header, footer и т.д.</p>
  <p>
    &#9745; 10. .toolbar - top: 0; left: 0; right: 0; зачем? Эти свойства
    используются для position fixed, absolute
  </p>
  <p>&#9745; 11. & nbsp;& nbsp;& nbsp;& nbsp; что это?</p>
  <p>&#9745; 12. FooterBlockComponent нигде не используется</p>
</div>
