.main {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "place"
    "footer";
}

.header {
  grid-area: header;
}

.place {
  grid-area: place;
}

.footer {
  grid-area: footer;
  font-family: "Kurale", sans-serif;
  text-align: center;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1px;

}
