h3 {
  text-align: center;
  color: blueviolet;
}

.table {
  margin-top: 30px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "sidebar title ads"
    "sidebar place ads"
    "sidebar place ads";
}

.title {
  grid-area: title;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 40px;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid blueviolet;
}

.place {
  grid-area: place;

  display: grid;
  gap: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "buttons"
    "field";
}

.ads {
  grid-area: ads;
  border-left: 1px solid blueviolet;
}

.buttons {
  text-align: center;
}

.field {
  text-align: center;
  background-color: aquamarine;
}
