<div class="table">
  <div class="title">Table works!</div>

  <div class="sidebar"></div>

  <div class="place">
    <app-activation-and-cleaning
      class="buttons"
      (users)="showData($event)"
    ></app-activation-and-cleaning>
    <app-field
      class="field"
      [buttonsArrows]="buttonsArrows"
      [imgButtons]="imgButtons"
      [showSortButtons]="showSortButtons"
      [wholeTable]="wholeTable"
    ></app-field>

    Предварительные цели:
    <ul>
      <li>Получить данные http</li>
      <li>Заполнить таблицу заданного типа</li>
      <li>Организовать взаимодействие с помощью @Input и @Ounput</li>
    </ul>
    <h3>Article 1</h3>
    <ul>
      <li>Получить данные http</li>
      <li>Заполнить таблицу заданного типа</li>
      <li>Организовать взаимодействие с помощью @Input и @Ounput</li>
    </ul>
    <h3>Article 2</h3>
    <ul>
      <li>Получить данные http</li>
      <li>Заполнить таблицу заданного типа</li>
      <li>Организовать взаимодействие с помощью @Input и @Ounput</li>
    </ul>
  </div>

  <div class="ads"></div>
</div>
