<div class="sideBar">
  <div class="item">
    <div class="optionsSideBar">milage Red : {{ result.milageRed }}</div>
    <div class="optionsSideBar">milage Green : {{ result.milageGreen }}</div>
    <div class="optionsSideBar">milage Blue : {{ result.milageBlue }}</div>
    <div class="optionsSideBar">TOTAL MILEAGE : {{ result.totalMileage }}</div>
    <div class="optionsSideBar">MOVES MADE : {{ result.counter }}</div>
  </div>

  <div class="item">
    <app-dices (dicesDrop)="showResult($event)"></app-dices>
  </div>
</div>
