.sideBar {
  display: flex;
}

.item {
  margin-left: 5px;
  margin-right: 10px;
}

.optionsSideBar {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
}