.title {
  font-family: "Lobster", sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}

h2 {
  font-family: "Kurale", serif;
}

.learn {
  text-align: center;
}

footer {
  text-align: center;
}
