<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button class="button" mat-flat-button (click)="getRandomUser()">
        add User
      </button>
      <button class="button" mat-flat-button (click)="deleteUsers()">
        delete all Users
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card" *ngFor="let user of usersService.someUsers">
    <mat-card-title> {{ user.firstName }} </mat-card-title>
    <mat-card-title> {{ user.lastName }} </mat-card-title>

    <img class="image" mat-card-image src="{{ user.pictureLarge }}" />
    <mat-card-content>
      <p>{{ user.gender }}</p>
      <p>Age: {{ user.age }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="button"
        mat-flat-button
        color="primary"
        [routerLink]="['/make-up-table', user.id]"
      >
        details...
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Удалить</button>
        <button mat-menu-item>Ред.</button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
