h3 {
  color: blueviolet;
}

.mat-mdc-card {
  background-color: gainsboro !important;
  color: black;
  margin: 10px;
}

.button {
  margin-right: 5px;
}

.image {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
}
